body{
    display: grid;
    background-color: #cccccc;
    margin: 0;
    position: fixed;
    width: 100%;
}
header{
    background-color: white;
  height: 86px;
  margin:0px ;
  padding:0px;
  display: block;  
  
}
.logo{
    
    height: 100px;
    position: absolute; 
    top: 0;
    left: 0;
}
.deconnexion{
    display: flex;
    float: right;
    text-align: right;
    /*margin-top: 20px;*/
    width: 25%;
}
svg.icon0 {
    width: 22%;
    margin-top: -2px;
    margin-left: 70px;
}
.deco{
    border: none;
    color: black;
    background-color: white;
    cursor: pointer;
    font-size: 1rem;
    height: 25%;
    margin-top: 30px;
    padding: .375rem .75rem;
    margin-left: -10px;
    border-radius: .25rem;
    
}
.deco:hover{background: #55abd8; }
.button {
  border: none;
  color: white;
  text-align: center;
  font-size: 16px;
  margin-top: 40px;
  cursor: pointer;
  padding: 15px 32px;
  text-decoration: none;
  

}

body{
   
  margin: 0;
 position: fixed;
 margin: 0;
 font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,"Noto Sans",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
          font-size: 1rem;
 font-weight: 400;
    line-height: 1.5;
 color: #212529;
 text-align: left;
      background-color: #cccccc;
}
header{
  background-color: #fff;
  height: 79px;
  margin-bottom: 5px;
  margin-left: 26px;
  padding-top: 0px;
  width: 101%;



}
.logo{
  height: 130px;
  position: absolute;
  top: -2px;
  left: -10px;
  margin: -1px;
  margin-left: 31px;
}
.deconnexion{
display: flex;
float: right;
text-align: right;
margin-top: -7px;
width: 24%;


}

.deco{
border: none;
color: black;
background-color: white;
height: 46px;
font-size: 23px;
margin-top: 28px;
margin-left: -7px;
width: 159px;
}
.deco a:hover{
  background-color:#0096FF; 

}

.btn {
  border: none;
  color: white;
  text-align: center;
  display: block;
  font-size: 16px;
  margin-top: 40px;
  cursor: pointer;
  background-color: #0096FF;
  padding: 15px 32px;
  text-decoration: none;
  

}
/*breacrumb*/
ul.breadcrumb {

  list-style: none;
  
}
ul.breadcrumb li {
  display: inline;
  font-size: 18px;
}
ul.breadcrumb li+li:before {
  padding: 8px;
  color: black;
  content: ">\00a0";
}
ul.breadcrumb li a {
  color: #0275d8;
  text-decoration: none;
}
ul.breadcrumb li a:hover {
  color: #01447e;
  text-decoration: underline;
}
/*search bar*/
/*body{
margin: 0;
padding: 16px;
flex: 1;
background: #2F94D8;
justify-content: center;
align-items: center;
font-family: 'Lexend Deca', sans-serif;
overflow-Y: none !important;
}*/

/*button {
& img {
transition: transform .25s;
}
&:hover{
& > img {
transform:scale(1.2);
}
}
&:focus {
outline: none;
}
}*/

input {
width: 100%;
font-family: 'Lexend Deca', sans-serif;;
/*&::placeholder{
font-family: 'Lexend Deca', sans-serif;
}
&:focus{
outline: none;
}*/

}

.searchbox{
height: 45px;

background: white;
border-radius: 10px;
border: 3px solid #33CCFF;
/* position: relative; */

top: 50px;
display: flex;
overflow: hidden;
/*& > .btn-menu {
padding: 16px;
background: transparent;
border: none;
cursor: pointer;
}*/
}
/*& > .search{
border: none;
width: 100%;
}

& > .btn-search {
padding: 16px;
background: transparent;
border: none;
cursor: pointer;
}*/
/* .deco{
border: none;
color:#4e97ff;
background-color: white;
cursor: pointer;
font-size: 20px;
width: 127px;
height: 42px;
margin-top: 36px;
}
/*
border-radius: 15px;
box-shadow: 0 9px #999;
}*/


.deco :hover {background-color:#4d9bcf; }

.deco :active {
background-color: #4d9bcf;
background-color: #4d9bcf;
box-shadow: 0 5px;
transform: translateY(4px);
}
.icon1{
width: 76px;
margin-top: -2px;
}
.panelpanelprimary{
margin-bottom: -10px;
  background-color: #ccc;
  border: 2px solid #0000004a;
  border-radius: 9px;
  -webkit-box-shadow: 0 1px 1px rgba(0,0,0,.05);
  box-shadow: 0 1px 1px rgba(0,0,0,.05);
 margin-right: -17%;
  margin-left: 14%;

}